<form role="form" method="post" action="change_password">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" id="username"
    placeholder="" value="<%= username %>">
  </div>
  <div class="form-group">
    <label for="current_pw">current Password</label>
    <input type="password" class="form-control" name="current_pw"
    id="current_pw" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="new_pw">new Password</label>
    <input type="password" class="form-control" name="new_pw" id="new_pw"
    placeholder="new password">
  </div>
  <div class="form-group">
    <label for="repeated_pw">repeat Password</label>
    <input type="password" class="form-control" name="repeated_pw"
    id="repeated_pw" placeholder="repeat">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
